/* Mobile first styles */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

header {
  /* border: 2px solid red; */
  padding: 0.6rem;
  background-color: #526eec;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
}

/* Estilos del logo */
.logo {
  width: 50px;
  border-radius: 8px;
}

.navbar {
  display: flex;
  /* flex-direction: column; */
  align-items: flex-start;
  /* position: relative; */
  justify-content: space-between;
}

.menu-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  padding-left: 0;
  margin-top: 1rem;
  margin-right: 1.5rem;
  display: none;
  flex-direction: column;
}

.nav-links.open {
  display: flex;
}

.nav-links li {
  margin-bottom: 0.5rem;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

.nav-links li a:hover {
  color: black;
  transition: color 0.3s ease;
}

/* Laptop and larger screen styles */
@media (min-width: 850px) {
  .logo {
    width: 50px;
    margin-left: 2rem;
  }
  header {
    padding: 0.2rem;
    background-color: #526eec;
    color: white;
    display: flex;
    /* border: 2px solid red; */
    position: fixed;
    z-index: 1;
    width: 100%;
  }
  .navbar {
    /* border: 2px solid black; */
    padding: 8px;
    width: 30rem;
  }

  .menu-toggle {
    display: none;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    /* border: 2px solid wheat; */
    gap: 2rem;
  }

  .nav-links li a {
    font-size: 1rem;
  }
}
